<div class="col-md-4 shadow p-2 mx-auto">

    <form method="post" action="/usuario/login">
        <label>EMAIL</label>
        <input type="text" name="username" class="form-control" required>

        <label for="">SENHA</label>
        <input type="password" name="password" class="form-control" required>

        <button class="btn btn-success mt-2 mx-3" type="submit">Entrar</button>
        <a class="btn btn-dark mt-2 " href="/pessoa/cadastrar">Cadastrar</a>

    </form>


</div>